/* Center everything */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Outer: red (300) + orange (250) */
#outer {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 165, 0); /* orange */
  border: 25px solid rgb(255, 0, 0);  /* red */
  border-radius: 50%;
  box-sizing: border-box;
}

/* Middle: yellow (200) + green (150) */
#middle {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 128, 0);   /* green */
  border: 25px solid rgb(255, 255, 0);/* yellow */
  border-radius: 50%;
  margin: 25px;
  box-sizing: border-box;
}

/* Inner: blue (100) + purple (50) */
#inner {
  width: 100px;
  height: 100px;
  background-color: rgb(128, 0, 128); /* purple */
  border: 25px solid rgb(0, 0, 255);  /* blue */
  border-radius: 50%;
  margin: 25px;
  box-sizing: border-box;
}
